/*
-------------------------
 5.4 :  Review css
-------------------------
*/
.CS_reviews {
    background-color: var(--dark-opacity);
    padding: 10px;
    border-radius: 20px;
  
    ul {
      margin: 0;
      padding: 0;
  
      li {
        list-style: none;
  
        a {
          text-decoration: none;
          font-size: 20px;
        }
      }
    }
  }