.box-layout {
    background: var(--dark-opacity);
    border-radius: 20px;

    span {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-cart {
        border-radius: 20px;
        text-align: center;

        img {
            max-width: 100%;
            border-radius: 20px;
        }
    }

}

@media(max-width: 992px){
    .box-layout {
        padding: 30px;
        .product-cart {
    
            img {
                max-width: 100%;
                border-radius: 20px;
                height: 250px;
                object-fit: cover;
            }
        }
    
    }

}


@media(max-width: 557px){
    .box-layout {
        padding: 15px;
        .product-cart {
    
            img {
                max-width: 100%;
                border-radius: 20px;
                height: auto;
                object-fit: cover;
            }
        }
    
    }

}


