.svg-control {
  width: 300px;
  margin: auto;
}

.conform_popup {
  // position: fixed;
  // z-index: 1000;
  // top: 0;
  // left: 50%;
  // right: 50%;
  // bottom: 0;
  // font-family: arial, sans-serif;
  // transform: translateX(-510%);
  // background: none;

  .c2_content {
    width: 300px;
    margin: 50px auto 0;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    .c2_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;

      .c2_title {
        margin: 0;
        font-size: 20px;
      }

      .c2_btn-close {
        width: 20px;
        height: 20px;
        padding: 0;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        border: 2px solid var(--pkcolor1);
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s;
        background: red;
        color: #fff;

        &:hover {
          opacity: 0.7;
        }
      }

    }

    .c2_body {
      text-align: center;
    }

    .c2_footer {
      margin-top: 20px;
      text-align: center;

      .c2_btn-yes,
      .c2_btn-no {
        margin: 0 5px;
        padding: 4px 24px;
        font-size: 15px;
        border-radius: 20px;
        border: 1px solid var(--pkcolor1);
        cursor: pointer;
        transition: all 0.4s;
      }

      .c2_btn-yes {
        background: #fff;
        color: #000;
      }

      .c2_btn-no {
        background: var(--dark-opacity);
        color: var(--pkcolor1);
      }

      .c2_btn-yes:hover,
      .c2_btn-no:hover {
        color: #000;
        border-color: transparent;
        background: var(--dark-opacity);
      }
    }
  }
}