/* 
-------------------------
    11.1 : Cookie css
-------------------------
*/

.cookie_set {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background: rgba(255, 255, 255, 0.67);
    backdrop-filter: blur(7px);
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    bottom: 4%;
    align-items: center;
    gap: 15px;
    box-shadow: var(--shadow-box);
    z-index: 1111;

    p{
        margin-bottom: 0;
        color: #000;
    }

    i{
        color: var(--pkcolor1)
    }
}

@media(max-width: 992px) {
    .cookie_set{
        display: none
    }
}